body
{
  background: -moz-linear-gradient(top, #2d768e 1%, #933866 100%);
  background: -webkit-linear-gradient(top, #2d768e 1%,#933866 100%);
  background: linear-gradient(to bottom, #2d768e 1%,#933866 100%);
  background-attachment: fixed;
}

button
{
  height: 11vh;
  font-size: 36px;
  transition: 0.5s;
}

button:hover{
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;

}

#calc{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 60vh;
  height: 96vh;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, #49c2eb 0%, #ff8ec8 100%);
  background: -webkit-linear-gradient(-45deg, #49c2eb 0%,#ff8ec8 100%);
  background: linear-gradient(135deg, #49c2eb 0%,#ff8ec8 100%);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.75);
}

#keyboard{
  background: transparent;
  height: 66vh;
}

.digit{
  min-width: 15vh;
  background: rgba(255,255,255,0.1);
  color: white;
  line-height: 60px;
  border-style: inset;
  border-width: 1px;
  border-color: rgba(255,255,255,0.3);
  float:left;
}

.digit:hover{
  background-color: rgba(255,255,255,0.3);
}

.operator
{
  min-width: 15vh;
  background: rgba(0,0,0,0.1);
  color: white;
  line-height: 60px;
  border-style: inset;
  border-width: 1px;
  border-color: rgba(255,255,255,0.11);
  float:left;
}

.operator:hover{
  background-color: rgba(100,100,255,0.1);
}

#calculate
{
  min-width: 30vh;
  background: rgba(0, 174, 255,0.6);
  color: white;
  line-height: 60px;
  border-style: inset;
  border-width: 1px;
  border-color: rgba(255,255,255,0.11);
  -webkit-box-shadow: 0px 0px 21px -1px rgba(0, 174, 255,0.8);
  -moz-box-shadow: 0px 0px 21px -1px rgba(0, 174, 255,0.8);
  box-shadow: 0px 0px 21px -1px rgba(0, 174, 255,0.8);
  float:left;
}

#calculate:hover{
  background-color: rgba(0, 174, 255,0.9);
}

.other
{
  min-width: 15vh;
  background: rgba(255, 0, 80, 0.15);
  color: white;
  line-height: 60px;
  border-style: inset;
  border-width: 1px;
  border-color: rgba(255,255,255,0.11);
  /*-webkit-box-shadow: 0px 0px 21px -1px rgba(255, 0, 80, 0.8);
  -moz-box-shadow: 0px 0px 21px -1px rgba(255, 0, 80, 0.8);
  box-shadow: 0px 0px 21px -1px rgba(255, 0, 80, 0.8);*/
  float:left;
}

.other:hover{
  background-color: rgba(255,0,100,0.3);
}


#display{
  background: white;
  height: 30vh;
  -webkit-box-shadow: 0px 9px 27px -7px rgba(255,255,255,1);
  -moz-box-shadow: 0px 9px 27px -7px rgba(255,255,255,1);
  box-shadow: 0px 9px 27px -7px rgba(255,255,255,1);
}

#buttons{

}
